* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}

body {
  background-color: rgb(247, 240, 240);
}
nav {
  z-index: 1;
}

.myList {
  position: relative;
  left: 55%;
}

.myList li {
  border-radius: 10px;
  margin-right: 20px;
  transition: all 0.2s;
}

.myList li a {
  margin-right: 20px;
  transition: all 0.2s;
  border-bottom: solid rgb(248, 249, 250) 2px;
}

.myList li a:hover {
  border-bottom: solid #0392cf 2px;
  transition: all 0.2s;
}

header {
  display: block;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(8, 8, 8, 0.7), rgba(8, 8, 8, 0.7)),
    url(images/mountain2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: inset 0 0 5px #000000;
}

.header--holder {
  display: inline-table;
  max-width: 98%;
  height: 13vh;
  background-color: #edf5e1;
  width: 100%;
  left: 2%;
}
div.logo {
  width: 250px;
  height: 250px;
  position: absolute;
  top: -10.5%;
  left: 0;
}

div.logo img {
  width: 250px;
  height: 250px;
}

#navbar {
  z-index: 3;
}

.header--text {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

.header--text p {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.btn-container {
  position: absolute;
  top: 75%;
  left: 8%;
}

.btn-container a {
  display: inline-block;
  padding: 12px 32px 12px 32px;
  border: #0392cf solid 3px;
  text-decoration: none;
  color: white;
  background-color: #0392cf;
  border-radius: 15px;
  margin-right: 20px;
  width: 3%;
  transition: all 0.2s;
}

.btn-container a:hover,
.btn-container a:active {
  color: #0392cf;
  background-color: #fff;
  transition: all 0.2s;
}

.subtitle--one {
  height: 100vh;
}

.nav-fixed {
  position: fixed;
  width: 100%;
  z-index: 3;
  opacity: 0.8;
  color: black;
  overflow-x: hidden;
}

.nav-fixednav div ul li a {
  color: black;
}

section {
  margin-top: 0px;
  background-color: linear-gradient(rgba(8, 8, 8, 0.7), rgba(8, 8, 8, 0.7));
}

section div h3 {
  margin-top: 5%;
  margin-left: 4%;
  font-size: 35px;
  font-weight: bold;
}

.section--grid {
  position: relative;
  top: 5%;
}

.box:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}

.box {
  padding: 1%;
  margin-right: 50px;
  transition: all 0.2s;
}
.box p {
  font-size: 90%;
  line-height: 145%;
  margin-top: 25px;
}
.box img {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
}
.row {
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 12px 32px 12px 32px;
  border: #0392cf solid 3px;
  text-decoration: none;
  color: white;
  background-color: #0392cf;
  margin-top: 20px;
  transition: all 0.2s;
}

.btn:hover,
.btn:active {
  color: #0392cf;
  background-color: #fff;
  transition: all 0.2s;
}

footer {
  width: 100%;
  height: 105vh;
  overflow: hidden;
}
footer h3 {
  margin-top: 4%;
  margin-left: 4%;
  font-size: 35px;
  font-weight: bold;
}
footer img {
  width: 550px;
  border-radius: 2px;
}

.par {
  margin-top: 4%;
}

.par h4 {
  line-height: 140%;
  margin-top: 5%;
  position: relative;
  left: 2%;
}

footer div.image {
  width: 100%;
  margin-left: 2%;
}

form {
  text-align: center;
  margin-top: 7%;
}

.inline {
  display: inline-block;
}

.input {
  padding: 14px;
  width: 35rem;
}
.button {
  width: 8rem;
  margin-bottom: 23.5px;
  margin-left: 10px;
}
footer p {
  text-align: center;
  margin-top: 4%;
}
@media all and (max-width: 980px) {
  .myList {
    position: relative;
    left: 5%;
  }
  .myList li {
    width: 8%;
  }
  .subtitle--one * {
    display: block;
  }
  footer * {
    display: block;
  }
  footer p {
    display: block;
  }
  .span-1-of-2 {
    display: block;
  }
}
@media all and (max-width: 736px) {
  footer {
    margin-top: 180px;
    text-align: center;
    height: 115vh;
  }
  footer div.image {
    display: block;
  }
  .col,
  .box,
  .span-1-of-2 {
    display: block;
  }
  .myList {
    position: relative;
    left: 5%;
  }
  .myList li {
    width: 15%;
  }
  .header--text {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
  }

  .header--text p {
    color: white;
    font-size: 22px;
    font-weight: bold;
  }
  .btn-container {
    position: absolute;
    top: 77%;
    left: 22.5%;
  }

  .btn-container a {
    display: inline-block;
    padding: 12px 32px 12px 32px;
    border: #0392cf solid 3px;
    text-decoration: none;
    color: white;
    background-color: #0392cf;
    border-radius: 15px;
    margin-right: 20px;
    width: 3%;
    transition: all 0.2s;
  }
  .subtitle--one {
    height: 200vh;
  }
  .subtitle--one * {
    display: block;
  }
  .span-1-of-3 {
    display: block;
    width: 100px;
  }
  section {
    margin-top: 50px;
    background-color: linear-gradient(rgba(8, 8, 8, 0.7), rgba(8, 8, 8, 0.7));
  }

  section * {
    display: block;
  }

  section div h3 {
    position: relative;
    left: 50%;
    transform: translateX(-21.5%);
    font-size: 35px;
    font-weight: bold;
  }

  .section--grid {
    position: relative;
    top: 5%;
  }
  .section--grid div {
    display: block;
    width: 100%;
  }

  .box:hover {
    transform: scale(1.02);
    transition: all 0.2s;
  }

  .box {
    width: 100%;
    display: block;
    padding: 1%;
    margin-right: 50px;
    transition: all 0.2s;
  }
  .box p {
    font-size: 90%;
    line-height: 145%;
    margin-top: 25px;
  }
  .box img {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
  }
  .row div {
    width: 100%;
    display: block;
  }
  .subtitle--one * {
    display: block;
  }
}

@media all and (max-width: 480px) {
  * {
    overflow-x: hidden;
  }
  .nav-fixed {
    position: fixed;
    width: 79.5%;
    z-index: 3;
    opacity: 0.8;
    color: black;
  }
  footer h3 {
    margin-top: 60px;
  }
  footer div.image {
    display: block;
    width: 100px;
  }
  .col,
  .box,
  .span-1-of-2 {
    display: block;
  }
  .myList {
    position: relative;
    left: 5%;
  }
  .myList li {
    width: 15%;
  }
  .header--text {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
  }

  .header--text p {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  .btn-container {
    position: absolute;
    top: 77%;
    left: 15%;
  }

  .btn-container a {
    display: inline-block;
    padding: 12px 32px 12px 32px;
    border: #0392cf solid 3px;
    text-decoration: none;
    color: white;
    background-color: #0392cf;
    border-radius: 15px;
    margin-right: 20px;
    width: 3%;
    transition: all 0.2s;
  }
  .subtitle--one {
    height: 200vh;
  }
  .subtitle--one * {
    display: block;
  }
  .span-1-of-3 {
    display: block;
    width: 100px;
  }
  section {
    margin-top: 50px;
    background-color: linear-gradient(rgba(8, 8, 8, 0.7), rgba(8, 8, 8, 0.7));
  }

  section div h3 {
    position: relative;
    left: 50%;
    transform: translateX(-25%);
    font-size: 35px;
    font-weight: bold;
  }

  .section--grid {
    position: relative;
    top: 5%;
  }
  .section--grid div {
    display: block;
    width: 100%;
  }

  .box:hover {
    transform: scale(1.02);
    transition: all 0.2s;
  }

  .box {
    width: 100%;
    display: block;
    padding: 1%;
    margin-right: 50px;
    margin-top: 50px;
    transition: all 0.2s;
  }
  .box .btn {
    width: 95%;
  }
  .box p {
    font-size: 90%;
    line-height: 145%;
    margin: 25px;
  }
  .box img {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
  }
  .row div {
    width: 100%;
    display: block;
  }
}

@media all and (max-width: 360px) {
  .nav-fixed {
    width: 100%;
  }
  footer * {
    display: block;
  }
}
